.chat {
    display: flex;
    flex-direction: column;
    flex: 0.70;
    margin: 10px;
    margin-left: 0px;
    color: white;
    height: 90vh; /* Match app height to allow internal scroll */
}

.chat--fullWidth {
    flex: 1;
    margin: 0; /* Optional: remove margins for true full screen or keep consistent */
    max-width: 100%;
}

.chat__header {

    padding: 5px;
    display: flex;
    align-items: center;

}

.chat__headerInfo {
    flex: 1;
    /* border: 1px solid red; */
    padding-left: 20px;
}

.chat__headerInfo>h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo>p {
    font-size: small;
    color: #1a001a;

}

.chat__body {
    border-radius: 10px;
    box-shadow: 5px 5px 10px -6px rgba(0, 0, 0, 0.75) inset;
    flex: 1;
    /* background-image: url('https://w0.peakpx.com/wallpaper/1023/308/HD-wallpaper-nicons-929-apps-black-cool-icons-minimal-mobile-new-pink-trista-hogue.jpg'); */
    /* background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png'); */
    background-image: url('https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    padding: 15px;
    padding-top: 25px;
    overflow-y: auto;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 5px 10px 15px 10px;
    width: fit-content;
    min-width: 83px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom left, #006bb3, #bf05ee);
    word-wrap: break-word;
    margin-bottom: 20px;
    max-width: 80%;

}

.chat__messageActions {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none; /* Hidden by default, shown on hover */
    z-index: 100;
}

.chat__message:hover .chat__messageActions {
    display: block;
}

.chat__messageDropdown {
    color: rgba(255, 255, 255, 0.9) !important;
    padding: 0 !important;
    background: rgba(0,0,0,0.1) !important;
    border-radius: 50% !important;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
    padding-top: 10px;
    position: absolute;
    bottom: 3px;
    right: 10px;
}

.chat__name {
    position: absolute;
    top: -20px;
    font-weight: 800;
    font-size: small;

}

.chat__receiver {
    margin-left: auto;
    max-width: 80%;

}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    /* border: 1px solid lightgrey; */
    margin-top: 10px;
}

.chat__footer>form>input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    /* outline: none; */
    outline-color: blue;
    outline-width: 1px;
    margin-left: 5px;
    font-size: 16px;
}

.chat__footer>form {
    flex: 1;
    display: flex;
}

.chat__footer>form>button {
    /* display: none; */
}

.chat__avatar {
    background-color: #f0b3ff;
}

@media (max-width: 768px) {
    .chat {
        flex: 1;
        margin: 0;
        width: 100%;
        min-width: 0;
    }
    
    .chat__headerInfo {
        padding-left: 10px;
    }
}