.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.30;
    border-right: 1px solid lightgrey;
    margin: 10px;
}

.sidebar--collapsed {
    display: none !important;
}

.side__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 5px 10px;

    /* border-right: 1px solid lightgrey; */
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight>.MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 40px !important;
}

/* Default hidden on desktop */
.sidebar__closeIcon {
    display: none !important;
}

@media (max-width: 768px) {
    .sidebar__closeIcon {
        display: inline-flex !important;
        margin-right: 5px;
        color: #54656f;
    }
}

.sidebar__search {
    display: flex;
    align-items: center;
    /* background-color: #f6f6f6; */
    height: 39px;
    padding: 10px;
    box-shadow: 0px 5px 7px -8px #4d004d;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 40px;
}

.sidebar__searchContainer>.MuiSvgIcon-root {
    color: #4d004d;
    padding: 10px 0 10px 10px;
}

.sidebar__searchContainer>input {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 80%;
    color: #4d004d;
    font-size: 16px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.sidebar__chats {
    flex: 1;
    background-color: #ffe6f2;
    overflow-y: scroll;
    border-radius: 10px;

    display: block;
}


@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%; /* Drawer width */
        max-width: 350px;
        z-index: 1000; /* On top of chat */
        background-color: #f8f9fa; /* Solid background to obscure chat */
        box-shadow: 2px 0 10px rgba(0,0,0,0.2);
        margin: 0;
        border-right: none;
        min-width: 0;
    }

    .sidebar__searchContainer {
        width: 100%;
    }
}